<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="CSS/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <a href="#">HOME</a>
          <a href="#">ABOUT</a>
          <a href="#">FAQ</a>
          <a href="#">CONTACT</a>
        </nav>
        <h1>Title</h1>
        <!--CSS to transfer to upercase-->
      </header>
      <main>
        <h2>content will go here</h2>
        <img src="http://www.fillmurray.com/410/600" alt="" />
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto
          laborum praesentium, obcaecati porro nisi deleniti cum expedita, rem
          laboriosam quas delectus! Incidunt minus culpa sequi velit sed unde
          quaerat omnis.
        </p>
        <p>
          Ullam quae eaque officia, nostrum suscipit enim placeat dolores
          necessitatibus unde non sequi dolorum, eligendi nam et veniam quos.
          Maiores aspernatur non exercitationem nisi provident voluptas fuga
          distinctio, quisquam eum.
        </p>
        <p>
          Amet autem laboriosam nostrum repellat. Vero, dolorum. Provident illo
          doloribus mollitia voluptatibus maiores architecto, odit odio
          corrupti. Natus numquam architecto nemo quos commodi quibusdam, error
          beatae facilis velit facere sapiente?
        </p>
      </main>
      <aside>
        <h3>Fun facts</h3>
        <ul>
          <li>essi</li>
          <li>kitoo</li>
          <li>gamoo</li>
          <li>jabari</li>
        </ul>
      </aside>
    </div>
  </body>
</html>
