body {
  background-color: limegreen;
}
.box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  line-height: 300px;
}
.block-demo {
  display: block;
}
.inline-demo {
  display: inline;
}
.inline-block-demo {
  display: inline-block;
}
.none-demo {
  display: none;
}
.hidden-visi {
  visibility: hidden;
}
.spooky span {
  visibility: hidden;
}
.spooky:hover {
  background-color: black;
}
.spooky:hover span {
  transition: 2s all;
  visibility: visible;
  color: yellow;
}
